<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

   <title>Workout Info</title>

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/js/show.js"></script>
	

</head>
	<body>
		<div class="jumbotron">
			<div class="container" data-workout-id="{{W_id}}">
				<div>
					<h1 id="current-name">{{workoutName}}</h1>
				</div>

				
			<div>
				<p id= "current-description">{{description}}</p>
			</div>
			</div>
		</div>
		<section id='exercise-form' class="container">
			{{#each exercises}}		
			<div class="row">
				<div class="col-md-10 col-md-offset-1">	
					<form class="form-vertical" data-id="{{_id}}">
						<fieldset>	
						<h2>Goals</h2>
						<div class ="exercise-list">
							
														
							<h3>{{name}}</h3>
														
 							<p>Sets: </p>
 							{{sets}}
							<p>Repitions:</p>
							{{reps}}
						</div>
						</fieldset>
					</form>
				</div>
			</div>
			{{/each}}
		</section>	
		<div class="buttons">
			<div class="edit">
								<br><button type="button" class="btn-btn-primary" id="editWorkout">Edit Workout</button>
						</div>
			<div class="delete">
								<br><button type="button" class="btn-btn-primary" id="deleteWorkout">Delete Workout</button>
						</div>
						
						<div class="save">
								<br><button type="button" class="btn-btn-primary" id="saveWorkout">Save Workout</button>
						</div>
			</div>
			</div>

	</body>
</html>